<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Książka kucharska</title>
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFInO5MfGs_UqjXtFaqEr-mCY-dXYKFqtEmg&usqp=CAU">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div th:fragment="header">
        <a href="/">
            <h2><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFInO5MfGs_UqjXtFaqEr-mCY-dXYKFqtEmg&usqp=CAU" width="30px" height="30px"/>Start</h2>
        </a>
    </div>
</body>
</html>